################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AutoLua/obj
/AutoLua.Android/obj
/AutoLua.Android/bin/Debug
/AutoLua/bin/Debug/netstandard2.0
/.idea/.idea.AutoLua
/NLua/obj
/NLua/bin/Debug
/AutoLua/bin/Release/netstandard2.0
/AutoLua.Android/bin/Release
/NLua/bin/Release
/HttpServer/bin
/HttpServer/obj
/AutoLua.Core/bin
/AutoLua.Core/obj
/DSoft.Messaging/bin
/DSoft.Messaging/obj/Debug/netstandard2.0
/DSoft.Messaging/obj/Release/netstandard2.0
/DSoft.Messaging/obj
